<div class="abstract">
    <div class="container-fluid">

        <h1 id="abstract">"Photography takes an instant out of time, altering life by holding it still" — Dorothea Lange</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractPinky.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractCity.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractEye.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractGrayp.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractSheet.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractBulb.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractSpike.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractTinik.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractRain.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractWatch.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractMacaroon.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/abstractWhite.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

    </div>
</div>