<div class="parallax para1"></div>
<h2 class="main-caption">Born and raised in Southern California influenced by the wise and reckless.</h2>
</div>

<div class="parallax para2"></div>
<h2 class="main-caption">“Taking an image, freezing a moment, reveals how rich reality truly is.”</h2>
<div class="parallax para3"></div>

<h2 class="main-caption caption-space">Explore My World</h2>

<div class="col-md-4 photo-link photo-link-one" ui-sref="abstract">
    <div class="overlay">
        <div class="text">Abstract</div>
    </div>
</div>
<div class="col-md-4 photo-link photo-link-two" ui-sref="people">
    <div class="overlay">
        <div class="text">People</div>
    </div>
</div>
<div class="col-md-4 photo-link photo-link-three" ui-sref="places">
    <div class="overlay">
        <div class="text">Places</div>
    </div>
</div>

<diV class="footer">
    <div class="panel-footer">
        <a href="https://www.instagram.com/st_ill/" target="blank"><p>Photogtapher: Ryan M. Franco</p></a>
        <a href="https://www.linkedin.com/in/brian-canlas-57445813b/" target="blank"><p>Web Designer/Developer: Brian Canlas</p></a>
    </div>
</div>