<div class="abstract">
    <div class="container-fluid">
        <h1 id="abstract">“A portrait is not made in the camera but on either side of it.” — Edward Steichen</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleCar.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleCheese.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleGirl.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleGrad.jpg" class="img-responsive fit exact-center hover-shadow">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleGrandma.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleGray.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleHat.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peoplePark.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peoplePoverty.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleRain.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleSad.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleShades.jpg" class=" img-responsive fit exact-center">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleSmoke.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peoplePregnant.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleTrain.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-3">
                <div class="image hover-shadow">
                    <img src="images/peopleSmirk.jpg" class=" img-responsive fit exact-center">
                </div>
            </div>
        </div>
    </div>
</div>