<div class="abstract">
    <div class="container-fluid">
        <h1 id="abstract">“Your Photography is a record of your living, for anyone who really sees.” — Paul Strand</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesBeach.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesFancy.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesOld.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesPhil.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesRedWhite.jpg" class="img-responsive fit exact-center">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image hover-shadow">
                    <img src="images/placesRWB.jpg" class="img-responsive fit exact-center">
                </div>
            </div>
        </div>

    </div>
</div>